ul
{
    height: 30px;
    padding-top: 3px;
    padding-bottom: 15px;
    margin: 4px 4px 4px 0px;
    background-color: rgb(44, 42, 42);
    border-radius: 4px;
    display: flex;
    margin-bottom: 20px;
}

.item
{
    font-style: italic;
    color: rgb(170, 43, 49);
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    list-style: none;
}